/* Francisco Bilbao */
/* Santiago de Nicolás */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content 1fr;
  height: 100vh;

  gap: 10px;
}

a { text-decoration: none; color: white; }

body > header {
  grid-column: 1/13;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  width: 100%;

  padding: 20px;

  background-color: #4f46e5;
}

header > .header_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header > .header_content > h1 {
  font-size: 1.6rem;
  color: white;
}

header > .header_content > nav > ul {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;

  font-size: .8rem;
  color: white;
}

header > .header_content > nav > ul > li.accented > a {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px;
  border-radius: 20px;

  color: black;
  background-color: white;
}

header > .header_content > nav > ul > li.accented > a {
  color: black;
}

/* Formulario */
form {
  width: 100%;
  margin: 0 20px;
  max-width: 450px;

  align-self: center;

  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
}

form > input {
  grid-column: 1/4;

  padding: 5px;
  border: none;

  border-radius: 5px;
}

form > select {
  grid-column: 4/6;

  padding: 5px;
  border: none;

  border-radius: 5px;
}

form > select.categories {
  grid-column: 1/6;

  padding: 5px;
  border: none;

  border-radius: 5px;
}

form > textarea {
  grid-column: 1/6;

  padding: 5px;
  border: none;

  border-radius: 5px;
}

form > button {
  grid-column: 1/6;

  padding: 5px;
  border: none;

  border-radius: 5px;
}

footer {
  padding: 20px;
  text-align: center;
  grid-column: 1/13;
  background-color: #18181b;
  color: #f8fafc;
  font-size: .85rem;
}

/* Aside */
aside {
  height: fit-content;
  position: sticky;
  top: 10px;

  grid-column: 1/4;

  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-left: 30px;
}

aside > nav > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 8px;
}

aside > nav > ul > li {
  display: flex;
}

aside > nav > ul > li > a {
  flex: 1;

  background-color: #e5e7eb;
  color: black;
  
  padding: 8px 15px;
  border-radius: 10px;
  font-weight: 600;
}

aside > nav > ul > li > a:hover {
  background-color: #4f46e5;
  color: white;
}

.active {
  background-color: #4f46e5;
  color: white;
}