/* Francisco Bilbao */
/* Santiago de Nicolás */

body {
  grid-template-rows: unset;
  min-height: unset;
}

/* Contenido principal */
main {
  grid-column: 4/13;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.notesWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

/* Estilos de notas */
h2 {
  grid-column: 1/3;
}

article > a {
  display: flex;
  flex-direction: column;
  gap: 10px;

  color: black;

  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
}

article > a > header {
  display: flex;
  justify-content: space-between;
}

article > a > header > .prioridad {
  width: fit-content;

  display: flex;
  align-items: center;
  padding: 5px 8px 5px 5px;
  gap: 5px;

  background-color: #e5e7eb;
  line-height: 0px;

  border-radius: 15px;
}

article > a > header > .prioridad > .circulito {
  width: 20px;
  height: 20px;
  border-radius: 15px;
}

article > a > header > .prioridad > .circulito.alta {
  background-color: #dc2626;
}

article > a > header > .prioridad > .circulito.media {
  background-color: #fbbf24;
}

article > a > header > .prioridad > .circulito.baja {
  background-color: #4ade80;
}